* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    width: 1920px
    height: 560px
    background: #D7D4FF;


}




footer>p
    width: 1920px
    height: 750px
    top: 1774px

}